<div class="col-10 offsent-1">
  <h1>About Spluty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://github.com/dalearaleigh/splurty">Raleigh</a>, a budding web developer based in Nashville, TN.
  </p>
  <br />
  <p>
    Through a coding bootcamp offered through Vanderbilt University, she learned the skill necessary to pursue a career in web development. 
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rals.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Raleigh Dale</h2>
      <br />
      <p>
        Raleigh Dale is an avid traveler and web developer based in Nashville, TN. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>