<div class="col-10 offset-1 about">
  <h1>About Spluty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://github.com/dalearaleigh/splurty">Raleigh</a>, a budding web developer based in Nashville, TN.
  </p>
  <br />
  <p>
    Through a coding bootcamp offered through Vanderbilt University, she learned the skills necessary to pursue a career in web development. 
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <br />


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rals.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Raleigh Dale</h2>
      <br />
      <p>
        Raleigh Dale is an avid traveler and web developer based in Nashville, TN. Though she currently devotes the majority of her time to web development, in an earlier life, she was a commercial copywriter and a published poet. 
      </p>
    </div>
  </div>
 

</div>

<br class="clear" />
<br />
<br />
<br />
<br />